<!-- eshek ander ham "html" and "js" ka mix ek code create karenge in the form of tamplete
eshke under ham "html" ka code hi likhenge jo ki puri ki puri file render ho jayegi jake  -->

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <h1>This is home page 1*2 = <%= 1*2 %> </h1>
    <h2> <%= 1*2 %> </h2>                             <!-- basic javascript-->
    <h2> <%= "apnacollege".toUpperCase() %> </h2>       <!-- "<%= %>" this tag convert into string then in html it is treated as a html-->
    <h2> <%= ["ankit", "abhishek", "sachin"][1] %> </h2>
    <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ipsum, id ea nisi natus aspernatur quae quidem enim, deserunt autem ut reiciendis, provident necessitatibus laudantium numquam. Fuga, aperiam! Eaque, vero animi!</p>

    <button>Click me!</button>
</body>
</html>